* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header > nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10vh;
    align-items: center; 
    background-color: rgba(182, 140, 89, 0.6);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

header > nav > div {
    height: 10vh;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

header > nav > div > a {
    height: 10vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    padding: 0px 2rem;
}

header > nav > div > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header > nav > a > img {
    max-width: 8rem;
    align-self: flex-end;
    padding-left: 2rem;
}
main{
    padding-top: 20px;
    background-color: burlywood;
}
.titulo > h1{
    font-family: 'Croissant One';
    text-align: center;
}
.dicas{
    display: flex;
}
.dicas > .dicas_texto{
    font-size: 19px;
    text-align: justify;
    margin-left: 20px;
}
.dicas > .dicas_img > img{
    max-width: 55vh;
    height: auto;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.331);
}

.cover-shadow {
    background-color: rgba(80, 35, 14, 0.5);
    width: 100%;
    min-height: 100vh;
}

section.banner-home {
    text-align: center;
    background-image: url("/imagens/dicas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

section.banner-home h2 {
    font-size: 28pt;
}

section.banner-home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28pt;
}

section.banner-home > div div{
    margin: 4rem;
}

section.banner-home a{
    border: 0px;
    padding: 1rem 3rem;
    font-size: 18pt;
    background-color: burlywood;
    color: rgb(165, 100, 20);
    border-radius: 8px;
    text-decoration: none;
    transition: 300ms;
}

section.banner-home a:hover{
    color: rgb(161, 119, 67);
    padding: 1rem 4rem;
}

footer{
    font-size: 8pt;
    text-align: end;
    padding: 5px;
    background-color: rgb(182, 140, 89);
}